*,*::before, *::after {
      padding:0;
        margin:0;
        box-sizing:border-box;
      }
      body{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 100%;
width: 100%;
}
a{
    text-decoration: none;
}

ul{
    >li{
        list-style-type: none;
    }
}