:root {
  --textcolor: hsl(264, 47%, 37%);
}

/* //header// */
.head {
  width: 100%;
  height: 40px;
  background-color: #56328b1c;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;

  > div {
    color: var(--textcolor);
    font-size: 12px;
  }
}

/* end header */

.profile {
  position: fixed;
  width: 250px;
  margin: 100px auto;
  text-align: center;
  right: 0;bottom: 2%;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* main  */
.nav {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./img/hero-header-bakery.jpg);
  object-fit: cover;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  > figure {
    > img {
      width: 100%;
      height: 49%;
    }
  }

  > .navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    > .row {
      padding: 0 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > nav {
        width: 50%;

        > .menu {
          display: flex;
          justify-content: space-between;
          font-size: 15px;

          > li {
            &:first-of-type {
              border-bottom: 1px solid;
            }

            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
      }

      > div {
        display: flex;
        padding: 20px;

        &:first-of-type {
          > img {
            width: 70%;
            height: 70%;
          }
        }

        &:last-of-type {
          width: 10%;
          justify-content: space-around;
          font-size: 15px;

          > h3 {
            color: var(--textcolor);
            text-transform: capitalize;
          }

          > span {
            width: 20%;
            color: var(--textcolor);
          }
        }
      }
    }
  }

  > article {
    width: 40%;
    height: 70%;
    top: 30%;
    left: 0;
    padding: 0 6%;
    position: absolute;
    z-index: 99;

    > h3 {
      color: rgba(128, 128, 128, 0.637);
      font-size: 14px;
      text-transform: uppercase;
      height: 50px;
    }

    > h1 {
      font-size: 4em;
      text-transform: capitalize;
      color: var(--textcolor);
      height: 200px;
    }

    > p {
      color: rgba(128, 128, 128, 0.637);
      height: 100px;
    }

    > .btn {
      background-color: white;
      color: var(--blackcolor);
      width: fit-content;
      display: block;
      padding: 10px 30px;
      border-radius: 10px;
      color: var(--textcolor);

      &:hover {
        background-color: var(--textcolor);
        color: white;
        cursor: pointer;
      }
    }
  }
}

/* end  */

/* product */
.product {
  width: 100%;
  height: 90vh;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 10%;

  > div {
    &:nth-of-type(1) {
      > h3 {
        color: rgba(128, 128, 128, 0.74);
        font-size: 15px;
        font-weight: 100;
        height: 30px;
      }

      > p {
        color: var(--textcolor);
        font-size: 45px;
        flex-wrap: wrap;
        font-weight: bold;
      }

      > a {
        background-color: var(--textcolor);
        color: white;
        width: fit-content;
        display: block;
        padding: 10px 30px;
        border-radius: 10px;

        &:hover {
          /* background-color: var(--textcolor); */
          background-color: red;
          color: white;
          cursor: pointer;
        }
      }
    }

    > img {
      width: 100%;
    }

    &:nth-of-type(2) {
      color: var(--textcolor);

      > img {
      }

      > h4 {
        text-align: center;
      }

      > h3 {
        text-align: center;
        font-size: 15px;
        font-weight: normal;
      }
    }

    &:nth-of-type(3) {
      color: var(--textcolor);

      > img {
      }

      > h4 {
        text-align: center;
      }

      > h3 {
        text-align: center;
        font-size: 15px;
        font-weight: normal;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.wedd {
  /* background-color: red; */
  width: 100%;
  height: 80%;
  padding: 0 7%;

  > div {
    padding: 40px;

    &:nth-of-type(1) {
      > h4 {
        padding: 10px;
        text-align: center;
        color: rgba(128, 128, 128, 0.74);
      }

      > h1 {
        text-align: center;
        color: var(--textcolor);
      }
    }

    &:nth-of-type(2) {
      display: flex;
      gap: 40px;
    }

    > img {
      width: 50%;
    }
  }
}

/*  end wedd  */

/* shopp  */
.shopp {
  width: 100%;
  height: 70%;
  padding: 0 7%;
  top: 0;

  > div {
    display: flex;

    justify-content: center;

    > .first-shopp {
      padding: 60px;
      height: 70px;
      > h3 {
        color: var(--textcolor);
        font-size: 30px;
      }

      > p {
        color: gray;
        overflow: hidden;
        display: flex;
      }

      > a {
        background-color: var(--textcolor);
        color: var(--blackcolor);
        width: fit-content;
        display: block;
        padding: 15px 15px;
        border-radius: 10px;
        color: white;

        &:hover {
          background-color: white;
          color: var(--textcolor);
        }
      }
    }

    > .last-shopp {
      padding: 40px;
      /* background-color: yellow; */
      width: 250%;
      > ul {
        display: flex;
        gap: 50px;
        > li {
          width: 70%;
          > img {
            width: 120%;
          }
          > h3 {
            color: var(--textcolor);
            text-align: center;
            font-size: 12px;
          }
          > h4 {
            color: var(--textcolor);
            display: flex;
            justify-content: center;
            font-size: 15px;
          }
        }
      }
    }
  }
}
/* end shopp  */
.fusion {
  width: 100%;
  height: 100vh;

  padding: 0 7%;
  > .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
    &::after {
      content: "";
      background: rgba(255, 0, 191, 0.284);
      position: absolute;
      inset: 0;
    }
    > div {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 2;
      > .top-text {
        display: flex;
        gap: 40%;
        color: white;
        font-size: 25px;
        &:nth-of-type(1) {
          font-size: 30px;
          width: 70%;
          overflow: hidden;
        }
        &:nth-of-type(2) {
        }
      }
      > .button-text {
        position: absolute;
        width: 30%;
        bottom: 20%;
        left: 60%;
        color: white;
        > h4 {
          color: rgba(255, 255, 255, 0.651);
        }
        > h2 {
          font-size: 15px;
        }
      }
    }
  }
}
/* end fuion  */

/* builder  */

.builder {
  width: 100%;
  height: 100vh;
  padding: 0 7%;

  > div {
    padding: 0 4px;
    display: flex;
    gap: 20px;
    > .first {
      > div {
        position: relative;
        overflow: hidden;
        > img {
          width: 100%;
          object-fit: cover;
          display: block;
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(255, 0, 191, 0.284);
        }
        > div {
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          z-index: 2;
          > .top {
            display: flex;
            color: white;
            font-size: 25px;
            font-size: 40px;
            gap: 200px;
          }
          > .button {
            position: absolute;
            width: 40%;
            bottom: 20%;
            right: 50%;
            color: white;
          }
        }
      }
    }
    > .last {
      background-color: rgba(128, 128, 128, 0.238);
      border: 1px solid gray;
      width: 100%;
      text-align: center;
      padding: 40px;
      > h3 {
        text-transform: capitalize;
      }
      > p {
        font-size: 40px;
        color: var(--textcolor);
      }
      > h2 {
        top: 20px;
        left: 0;
      }
    }
  }
}
/* end builder  */

.Delivery {
  width: 100%;
  height: 100vh;

  padding: 0 7%;
  > .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
    &::after {
      content: "";
      background: rgba(255, 0, 191, 0.101);
      position: absolute;
      inset: 0;
    }
    > div {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 2;
      > .top-text {
        display: flex;
        gap: 40%;
        color: white;
        font-size: 25px;
        &:nth-of-type(1) {
          font-size: 30px;
          width: 70%;
          overflow: hidden;
        }
        &:nth-of-type(2) {
        }
      }
      > .button-text {
        position: absolute;
        width: 30%;
        bottom: 20%;
        right: 60%;
        color: white;
        > h4 {
          color: rgba(255, 255, 255, 0.651);
        }
        > h2 {
          font-size: 15px;
        }
      }
    }
  }
}
/* end delivery  */

.time-delivery {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
  padding: 0 6%;

  > div {
    padding: 30px;

    &:nth-of-type(1) {
      > h4 {
        padding: 10px;
        text-align: center;
        color: rgba(128, 128, 128, 0.74);
      }

      > h1 {
        text-align: center;
        color: var(--textcolor);
      }
    }
  }
  > .deliivery {
    display: flex;
    > div {
      > .time-img {
        > img {
          width: 100%;
        }
      }
      > .title {
        background-color: rgba(128, 128, 128, 0.225);
        border: 1px solid black;
        text-align: center;
        > h1 {
          color: var(--textcolor);
          text-transform: capitalize;
        }
        .deli {
          display: flex;
          justify-content: space-around;
          > div {
            > h3 {
              color: rgba(128, 128, 128, 0.677);
              font-size: 15px;
            }
            > h2 {
              font-size: 15px;
              color: gray;
            }
            > a {
              background-color: white;
              color: var(--textcolor);
              width: fit-content;
              display: block;
              padding: 10px 30px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
/* end tim deliiry  */

/* order  */

.order {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  > img {
    width: 100%;
    height: 60%;
  }
  > .titel {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 50px;
    /* background-color: red; */
    > h4 {
      color: gray;
    }
    > p {
      width: 50%;
      font-size: 40px;
      display: flex;
      overflow: hidden;
      color: white;
    }
    > a {
      background-color: white;
      color: var(--textcolor);
      width: fit-content;
      display: block;
      padding: 20px 40px;
      border-radius: 10px;
    }
  }
}

/* footer  */
.footer {
  width: 100%;
  height: 40%;
  padding: 0 7%;
  > .foot {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    > div {
      > img {
        width: 10%;
        height: 0%;
      }
    }
    .menu {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    > div {
      > h1 {
        color: var(--textcolor);
      }
      > div {
        display: flex;
        gap: 20px;
        > input {
          padding: 10px 30px;
        }
        > a {
          background-color: var(--textcolor);
          color: white;
          width: fit-content;
          display: block;
          padding: 10px 30px;
          border-radius: 10px;
        }
      }

      > .icon {
        width: 20px;
      }
    }
  }
}
